.cardWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
        width: 85%;
        max-width: 32rem;
        background-color: $white;
        border-radius: 2rem;
        padding: 1.6rem;
        padding-bottom: 4rem;
        box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0476518);
        z-index: 5;

        .qrCode {
            width: 100%;
            border-radius: 1.1rem;
        }

        .title {
            text-align: center;
            margin-top: 2.1rem;

            h1 {
                font-size: 2.22rem;
                font-weight: $bold;
                color: $darkBlue;
            }
        }

        .description {
            font-size: 1.54rem;
            text-align: center;
            color: $grayishBlue;
            padding: 0 1rem;
            margin-top: 1.6rem;
        }
    }
}